@model MasterTrade.Models.MyStrategiesModel
@using _4.DTO
@{
    ViewBag.Title = "Mis estrategias";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <hr />
    <div class="row">
        @if (Model.UserStrategies.Any())
        {
            <ul>
                @foreach (DTOStrategy strategy in Model.UserStrategies)
                {
                    <li><b>@strategy.Name</b> @Html.ActionLink("Modificar", "NewStep1", "MyStrategies", new { id = strategy.Id }, new { }) @Html.ActionLink("Eliminar", "DeleteStrategy", "MyStrategies", new { id = strategy.Id }, new { })</li>
                }
            </ul>
        }
        else
        {
            <p>¡Todavía no creaste ninguna estrategia!</p>
        }

    </div>
    <div class="row" style="margin-top: 0.5rem;">
        <div class="offset-md-9 col-md-3">
            @Html.ActionLink("Nueva estrategia", "NewStep1", "MyStrategies", new { area = "" }, new { @class = "btn btn-outline-dark lightBrownBtn" })
        </div>
    </div>
</main>