@model MasterTrade.Models.NewStrategyModel
@{
    ViewBag.Title = "Nueva estrategia - Resumen";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <hr />
    @using (Html.BeginForm("NewConfirmation", "MyStrategies", FormMethod.Post, new { role = "form" }))
    {
        @Html.HiddenFor(m => m.StrategyId)
        <div class="row">
            <h5>Nombre</h5>
        </div>
        <div class="col-md-12">
            <ul>
                <li>@Model.Name</li>
            </ul>
        </div>
        <div class="row">
            <h5>Indicadores</h5>
        </div>
        <div class="col-md-12">
            <ul>
                @foreach (var indicator in Model.Indicators)
                {
                    <li>@indicator</li>
                }
            </ul>
        </div>
        <div class="row">
            <h5>Condiciones para abrir una operación</h5>
        </div>
        <div class="col-md-12">
            <ul>
                @foreach (var condition in Model.OpenConditions)
                {
                    <li>@condition</li>
                }
            </ul>
        </div>
        <div class="row">
            <h5>Capital a invertir por cada operación</h5>
        </div>
        <div class="col-md-12">
            <ul>
                <li>@Model.Investment</li>
            </ul>
        </div>
        <div class="row">
            <h5>Condiciones para cerrar la operación</h5>
        </div>
        <div class="col-md-12">
            <ul>
                @foreach (var condition in Model.CloseConditions)
                {
                    <li>@condition</li>
                }
            </ul>
        </div>
        <div class="row" style="margin-top: 0.5rem;">
            <div class="offset-md-8 col-md-4">
                @Html.ActionLink("Cancelar", "Index", "MyStrategies", new { area = "" }, new { @class = "btn btn-outline-dark" })
                @Html.ActionLink("Modificar", "NewStep1", "MyStrategies", new { area = "", id = Model.StrategyId }, new { @class = "btn btn-outline-dark" })
                <input type="submit" value="Guardar" class="btn btn-outline-dark lightBrownBtn" />
            </div>
        </div>
    }
</main>