@model MasterTrade.Models.NewStrategyStep2Model
@using _4.DTO.Enums
@{
    ViewBag.Title = "Nueva estrategia - Paso 2";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h4>Agregue los indicadores de la estrategia</h4>
    @using (Html.BeginForm("NewStep2", "MyStrategies", FormMethod.Post, new { role = "form", id = "newStep2Form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.StrategyId)
        @Html.HiddenFor(m => m.PreviousIndicatorId)
        @Html.Hidden("indicatorAdded", false)
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    @Html.LabelFor(m => m.IndicatorId, new { @class = "col-md-3 col-form-label" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.IndicatorId, Model.AllIndicators, "Seleccione...", new { @class = "form-control" })
                    </div>
                </div>
                @if (Model.IndicatorStructure != null)
                {
                    <hr />
                    <div class="row">
                        <h5>@Model.IndicatorStructure.ConfigurationTitle</h5>
                    </div>
                    foreach (var meta in Model.IndicatorStructure.Meta)
                    {
                        <div class="row">
                            @Html.Label(meta.Name, new { @class = "col-md-3 col-form-label" })
                            <div class="col-md-9">
                                @if (meta.Type == IndicatorMetaDataType.Integer)
                                {
                                    @Html.TextBox(meta.HtmlName, 0, new { @class = "form-control", @type = "number" });
                                }
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="offset-md-10 col-md-2">
                            <input type="button" value="Agregar" id="addIndicatorBtn" class="btn btn-outline-dark lightBrownBtn" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h5>Indicadores agregados</h5>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li>Media móvil (5) <a href="#">Quitar</a></li>
                        <li>Media móvil (10) <a href="#">Quitar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 0.5rem;">
            <div class="offset-md-9 col-md-3">
                @Html.ActionLink("Cancelar", "Index", "MyStrategies", new { area = "" }, new { @class = "btn btn-outline-dark" })
                <input type="submit" value="Siguiente" class="btn btn-outline-dark lightBrownBtn" />
            </div>
        </div>
    }
</main>

@section Scripts
{
    <script>
        $(function () {
            $('#@Html.IdFor(m => m.IndicatorId)').change(function () {
                $('#newStep2Form').submit();
            });

            $('#addIndicatorBtn').click(function () {
                $('#indicatorAdded').val(true);
                $('#newStep2Form').submit();
            });
        });
    </script>
}