@model MasterTrade.Models.NewStrategyStep4Model
@using _4.DTO.Enums
@{
    ViewBag.Title = "Nueva estrategia - Paso 4";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h4>Indique el capital a invertir por cada operación</h4>
    @using (Html.BeginForm("NewStep4", "MyStrategies", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.StrategyId)
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.InvestOptionId, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.InvestOptionId, Model.AllInvestOptions, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" id="investmentAmountRow">
            @Html.LabelFor(m => m.InvestAmount, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.InvestAmount, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" id="investmentPercentageRow">
            @Html.LabelFor(m => m.InvestPercentage, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.InvestPercentage, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="margin-top: 0.5rem;">
            <div class="offset-md-9 col-md-3">
                @Html.ActionLink("Cancelar", "Index", "MyStrategies", new { area = "" }, new { @class = "btn btn-outline-dark" })
                <input type="submit" value="Siguiente" class="btn btn-outline-dark lightBrownBtn" />
            </div>
        </div>
    }
</main>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function refreshFieldsVisibility() {
            if ($('#@Html.IdFor(m => m.InvestOptionId)').val() == "@((int)InvestmentOption.FixedAmount)") {
                $('#investmentAmountRow').show();
                $('#investmentPercentageRow').hide();
            } else {
                $('#investmentAmountRow').hide();
                $('#investmentPercentageRow').show();
            }
        }

        $.validator.methods.number = function (value, element) {
            // Pruebo con intercambiar los puntos y las comas, y viceversa.
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:\.\d{3})+)?(?:,\d+)?$/.test(value) || /^-?(?:\d+|\d{1,3}(?:\,\d{3})+)?(?:.\d+)?$/.test(value);
        }

        $(function () {
            refreshFieldsVisibility();

            $('#@Html.IdFor(m => m.InvestOptionId)').change(function () {
                refreshFieldsVisibility();
            });
        });
    </script>
}