@model MasterTrade.Models.NewStrategyStep2Model
@{
    ViewBag.Title = "Nueva estrategia - Paso 2";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h4>Agregue los indicadores de la estrategia</h4>
    @using (Html.BeginForm("NewStep2", "MyStrategies", FormMethod.Post, new { role = "form", id = "newStep2Form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.StrategyId)
        @Html.HiddenFor(m => m.PreviousIndicatorId)
        @Html.Hidden("removedIndicatorId", 0)
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    @Html.LabelFor(m => m.IndicatorId, new { @class = "col-md-3 col-form-label" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.IndicatorId, Model.AllIndicators, "Seleccione...", new { @class = "form-control" })
                    </div>
                </div>
                <div id="indicatorMetaSection">
                    @Html.Partial("NewStep2IndicatorMeta")
                </div>
            </div>
            <div class="col-md-6" id="addedIndicatorsSection">
                @Html.Partial("NewStep2AddedIndicators")
            </div>
        </div>
        <div class="row" style="margin-top: 0.5rem;">
            <div class="offset-md-9 col-md-3">
                @Html.ActionLink("Cancelar", "Index", "MyStrategies", new { area = "" }, new { @class = "btn btn-outline-dark" })
                @Html.ActionLink("Siguiente", "NewStep3", "MyStrategies", new { area = "", id = Model.StrategyId }, new { @class = "btn btn-outline-dark lightBrownBtn" })
            </div>
        </div>
    }
</main>

@section Scripts
{
    <script>
        function removeIndicator(id) {
            $.ajax({
                url: '@Url.Action("RemoveIndicator")',
                type: 'POST',
                data: {
                    strategyId: function () { return $('#@Html.IdFor(m => m.StrategyId)').val(); },
                    indicatorId: id
                }
            }).done(function (result) {
                $('#addedIndicatorsSection').html(result);
            });
        }

        $(function () {
            $('#@Html.IdFor(m => m.IndicatorId)').change(function () {
                $.ajax({
                    url: '@Url.Action("LoadIndicatorMeta")',
                    type: 'GET',
                    data: {
                        indicatorId: function () { return $('#@Html.IdFor(m => m.IndicatorId)').val(); }
                    }
                }).done(function (result) {
                    $('#indicatorMetaSection').html(result);
                });
            });
        });
    </script>
}