@model MasterTrade.Models.BacktestingWithRangesResultModel
@{
    ViewBag.Title = "Backtesting con rangos - Resultado";
}

<style>
    table, thead, td {
        border: 1px solid black;
    }

        thead td {
            font-weight: bold;
        }
</style>

<main aria-labelledby="title">
    <h2 id="title">Backtesting con rangos</h2>
    <h4>Resultados</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h5>Configuración de estrategia óptima</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    @foreach (var indicator in Model.OptimalIndicators)
                    {
                        <li><b>@indicator.IndicatorName, @indicator.ConfigurationName:</b> @indicator.ConfigurationValue</li>
                    }
                </ul>
            </div>
            <div class="row">
                <h5>Combinaciones probadas</h5>
            </div>
            <div class="col-md-12">
                <table>
                    <thead>
                        <tr>
                            <td>Capital inicial</td>
                            <td>Capital final</td>
                            <td>Ganancia/pérdida</td>
                            <td>Detalles</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var backtesting in Model.Backtestings)
                        {
                            <tr>
                                <td>$@string.Format("{0:0.00}", backtesting.InitialCapital)</td>
                                <td>$@string.Format("{0:0.00}", backtesting.FinalCapital)</td>
                                <td style="color:@(backtesting.Revenue >= 0 ? "green" : "red");">$@string.Format("{0:0.00}", backtesting.Revenue)</td>
                                <td><a href="#" onclick="loadBacktestingDetails(@backtesting.BacktestingId);">Detalle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6" id="backtestDetails">
            @Html.Partial("ResultsBacktest")
        </div>
        <div class="row" style="margin-top: 0.5rem;">
            <div class="offset-md-8 col-md-4">
                @Html.ActionLink("Volver", "Step1", "BacktestingWithRanges", new { area = "" }, new { @class = "btn btn-outline-dark lightBrownBtn" })
            </div>
        </div>
    </div>
</main>
@section Scripts
{
    <script>
        function loadBacktestingDetails(id) {
            $.ajax({
                url: '@Url.Action("LoadBacktestingDetails")',
                type: 'GET',
                data: {
                    backtestingId: id
                }
            }).done(function (result) {
                $('#backtestDetails').html(result);
            });
        }

        $(function () {
            @if (Model.Backtestings.Any())
            {
                <text>
                    loadBacktestingDetails(@Model.Backtestings[0].BacktestingId);
                </text>
            }
        });
    </script>
}