@model MasterTrade.Models.BacktestingWithRangesStep2Model
@{
    ViewBag.Title = "Paso 2";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h4>Indique los rangos</h4>
    <hr />
    @using (Html.BeginForm("Step2", "BacktestingWithRanges", FormMethod.Post, new { role = "form" }))
    {
        for (int i = 0; i < Model.Configurations.Count(); i++)
        {
            @Html.HiddenFor(m => m.Configurations[i].IndicatorId)
            <div class="row">
                <h5>@Model.Configurations[i].IndicatorName: @Model.Configurations[i].ConfigurationName</h5>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.Configurations[i].MinValue, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Configurations[i].MinValue, new { @class = "form-control" })
                </div>
                @Html.LabelFor(m => m.Configurations[i].MaxValue, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Configurations[i].MaxValue, new { @class = "form-control" })
                </div>
                @Html.LabelFor(m => m.Configurations[i].Increment, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Configurations[i].Increment, new { @class = "form-control" })
                </div>
            </div>
            <br />
        }

        <div class="row" style="margin-top: 0.5rem;">
            <div class="offset-md-8 col-md-4">
                @Html.ActionLink("Cancelar", "Index", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })
                <input type="submit" value="Siguiente" class="btn btn-outline-dark lightBrownBtn" />
            </div>
        </div>
    }
</main>