@model MasterTrade.Models.BacktestingModel
@{
    ViewBag.Title = "Backtesting";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h4>Indique la configuración del backtesting</h4>
    @using (Html.BeginForm("Index", "Backtesting", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.StrategyId, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.StrategyId, Model.AllStrategies, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.CryptoPairId, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.CryptoPairId, Model.AllCryptoPairs, "Seleccione...", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.TemporalityId, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.TemporalityId, Model.AllTemporalities, new { @class = "form-control" })
            </div>
        </div>
        <div id="dateRange">
            @Html.Partial("IndexDates")
        </div>
    }
</main>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
@section Scripts
{
    <script src="~/Scripts/jquery-ui.js"></script>
    <script>
        $(function () {
            $('#@Html.IdFor(m => m.CryptoPairId)').change(function () {
                $.ajax({
                    url: '@Url.Action("LoadCryptoPairDates")',
                    type: 'GET',
                    data: {
                        cryptoPairId: function () { return $('#@Html.IdFor(m => m.CryptoPairId)').val(); }
                    }
                }).done(function (result) {
                    $('#dateRange').html(result);
                    renderDatePickers();
                });
            });

            
        });
    </script>
}