@model MasterTrade.Models.BacktestingResultsModel
@{
    ViewBag.Title = "Backtesting - Resultado";
}

<style>
    table, thead, td {
        border: 1px solid black;
    }

    thead td {
        font-weight: bold;
    }
</style>

<main aria-labelledby="title">
    <h2 id="title">Backtesting</h2>
    <h4>Resultados</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h5>Cantidad de operaciones realizadas</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>@Model.Operations.Count</li>
                </ul>
            </div>
            <div class="row">
                <h5>Capital inicial</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>$@string.Format("{0:0.00}", Model.InitialCapital)</li>
                </ul>
            </div>
            <div class="row">
                <h5>Capital final</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>$@string.Format("{0:0.00}", Model.FinalCapital)</li>
                </ul>
            </div>
            <div class="row">
                <h5>Porcentaje de ganancias/pérdidas</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>@string.Format("{0:0.00}", Model.ProfitPercentage)%</li>
                </ul>
            </div>
            <div class="row">
                <h5>Máximo drawdown</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>@string.Format("{0:0.00}", Model.MaxDrawdown * 100)%</li>
                </ul>
            </div>
            <div class="row">
                <h5>Tasa de acierto</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>@string.Format("{0:0.00}", Model.WinRate * 100)%</li>
                </ul>
            </div>
            <div class="row">
                <h5>Detalle de operaciones</h5>
            </div>
            <div class="col-md-12">
                <table>
                    <thead>
                        <tr>
                            <td>Número de operación</td>
                            <td>Apertura</td>
                            <td>Cierre</td>
                            <td>Capital inicial</td>
                            <td>Capital final</td>
                            <td>Ganancia/pérdida</td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= Model.Operations.Count; i++)
                        {
                            var operation = Model.Operations[i - 1];
                            <tr>
                                <td>@i</td>
                                <td>@operation.OpenDate.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@operation.CloseDate.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>$@string.Format("{0:0.00}", operation.InitialCapital)</td>
                                <td>$@string.Format("{0:0.00}", operation.FinalCapital)</td>
                                <td style="color:@(operation.Profit >= 0 ? "green" : "red");">$@string.Format("{0:0.00}", operation.Profit)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h5>Configuración del backtesting</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><b>Estrategia:</b> @Model.StrategyName</li>
                    <li><b>Par de criptomonedas:</b> @Model.CryptoPair</li>
                    <li><b>Rango de fechas:</b> @Model.DateFrom.ToString("dd/MM/yyyy HH:mm") - @Model.DateTo.ToString("dd/MM/yyyy HH:mm")</li>
                    <li><b>Temporalidad:</b> @Model.Temporality</li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top: 0.5rem;">
            <div class="offset-md-8 col-md-4">
                @Html.ActionLink("Volver", "Index", "Backtesting", new { area = "" }, new { @class = "btn btn-outline-dark lightBrownBtn" })
            </div>
        </div>
    </div>
</main>