<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MasterTrade</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-brand bg-light">
        <div class="container">
            <a class="navbar-brand" href="/" title="MasterTrade">
                <img src="/Content/LogoMasterTrade.png" alt="MasterTrade" style="width:150px;height:40px">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Mis estrategias", "Index", "MyStrategies", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Backtesting", "Index", "Backtesting", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Backtesting con rangos", "Step1", "BacktestingWithRanges", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Pares de criptomonedas", "Index", "CryptoPair", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    @if (ViewBag.ErrorMsg != null && !string.IsNullOrEmpty(ViewBag.ErrorMsg))
    {
        <div class="error-bar">@ViewBag.ErrorMsg</div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MasterTrade</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
